$color-border: #e7e7e7bb;
$color: rgb(85, 85, 212);

.introduction {
  position: relative;
  display: flex;
  justify-content: center;

  .intro {
    max-height: 100%;
    overflow: scroll;
    padding: 40px 128px 40px 20px;

    h2 {
      font-weight: 500;
      margin-bottom: 10px;
    }

    .intro-title {
      padding-bottom: 32px;

      h1 {
        font-weight: 500;
        margin-bottom: 10px;
      }
    }

    .intro-support {
      padding-bottom: 32px;
    }

    .intro-env {
      padding-bottom: 32px;

      .env-list {
        display: flex;

        .env-item {
          width: 160px;
          border: 0.5px solid $color-border;

          img {
            padding: 8px 0 0 8px;
          }

          h4 {
            padding: 8px;
          }

          p {
            padding: 8px;
            border-top: 0.5px solid $color-border;
          }
        }
      }
    }

    .intro-install {
      padding-bottom: 32px;

      p {
        margin-bottom: 8px;

        span {
          color: $color;
          text-decoration: underline;
        }
      }

      pre {
        margin-bottom: 10px;
        padding: 12px !important;
        border: 1px solid $color-border;
      }
    }

    .intro-usage {
      p {
        margin-bottom: 8px;
      }

      pre {
        margin-bottom: 10px;
        padding: 12px !important;
        border: 1px solid $color-border;
      }
    }
  }
}
